
<div class="mt-4 p-1 form-group container d-flex flex-column">
  <label class="d-block">{{ label }}</label>
  <input
    class="form-control mt-3"
    [ngClass]="((controlName.dirty || controlName.touched )&& controlName.invalid) ?'invalid':''"
    type="text"
    [formControl]="controlName"
    [type]="inputType"
    [placeholder]="placeholder"
  />
  <ng-container
    *ngIf="controlName.invalid && (controlName.dirty || controlName.touched)"
    class="alert alert-danger"
  >
    <p class="text-danger" *ngIf="controlName.errors['required']">
      Value is required
    </p>
    <div class="text-danger" *ngIf="controlName.errors['minlength']">
      Input is too short
    </div>
    <div class="text-danger" *ngIf="controlName.errors['maxlength']">
      Input is too long
    </div>
    <div class="text-danger" *ngIf="controlName.errors['email']">
      Please enter correct email
    </div>
  </ng-container>
</div>
