<div class="container">
  <div class="container my-5 d-flex flex-wrap">
    <div
      class="info bg-light border-0 rounded col-lg-3 col-sm-12 col-md-7 text-start my-3 p-3 d-flex justify-content-between container"
    >
      <div class="">
        <p class="text-primary">NUMBER OF USERS</p>
        <h4 class="text-dark text-secondary">{{ users.length }}</h4>
      </div>
      <div><i class="fa-solid fa-user fs-4 text-secondary"></i></div>
    </div>
    <div
      class="info bg-light border-0 rounded col-lg-3 col-sm-12 col-md-7 text-start my-3 p-3 d-flex justify-content-between container"
    >
      <div>
        <p class="text-primary">NUMBER OF PRODUCTS</p>
        <h4 class="text-dark text-secondary">{{products.length}}</h4>
      </div>
      <div><i class="fa-solid fa-user fs-4 text-secondary"></i></div>
    </div>
    <div
      class="info bg-light border-0 rounded col-lg-3 col-sm-12 col-md-7 text-start my-3 p-3 d-flex justify-content-between container"
    >
      <div>
        <p class="text-primary">EARNINGS (MONTHLY)</p>
        <h4 class="text-dark text-secondary">$52400</h4>
      </div>
      <div><i class="fa-solid fa-user fs-4 text-secondary"></i></div>
    </div>
  </div>
  <div class="img-container d-flex justify-content-center">
    <img class="col-9" src="../../../assets/images/home-chart.jpg" alt="" />
  </div>
</div>
